@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Roboto:wght@100;400&display=swap');

$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$font-lato-thin: 100;
$font-lato-regular: 400;
$font-lato-bold: 900;

$font-roboto-thin: 100;
$font-roboto-regular: 400;

